<div class="text">

    <h1>This is Linears!</h1>
    
    <p>Name Linears is inspired by how I like linear equations in math. Linear equations in math have constant change and are predicable.</p>
    
    <p>Linears is a startup Swedish company started by me <a href="https://hamzakhuswan.com">Hamza Khuswan</a> with this idea in mind. My goal is to provide helpful services or products for people. Now I am mostly doing websites, but I have bigger vision. So, stay tuned for updates.</p>   
</div>