<div class="text">

    <h1>This is Linears!</h1>
    
    <p>Name Linears is inspired by how I like I like linear equastions in math. Linear equations in math hve constent change and are predicable.</p>
    
    <p>Linears is a startup Swedish company started by me <a href="https://hyamzakhuswan.com">Hamza Khuswan</a> with this idea in mind. My goal, is to provide helpful services or products for people. Now I am mostly doing website, but I have bigger vision. So stay tooned for updates.</p>
   
</div>